doctype html
html
	head
		title="OPS Project"
		
		script(language="JavaScript" type='text/javascript' src='/static/libs/jquery-3.2.1.min.js')
		script(language="JavaScript" type='text/javascript' src='/static/libs/jquery.fullPage.min.js')
		
		//-Styles
		//-link(rel="stylesheet" href='/static/css/style.css')
		
		meta(name="viewport" content="width=device-width, initial-scale=1")

	body
		block menu
			include menu.pug
		block content